.MainPic{
    background: url("https://d3idks24kkd2lv.cloudfront.net/wp-content/uploads/2017/08/ThinkstockPhotos-511930406.jpg") no-repeat;
    background-size: cover;
    padding: 200px 50px;
    text-align: left;
    color: white;
}