.Nav{
    padding: 15px;
    background: mediumspringgreen;
    text-align: right;
}
.Logo{
    float: left;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
    color: white;
}
.Menu{
    list-style: none;
}
.Menu li {
    display: inline-block;
    padding: 10px;
    margin: 10px;
}
.Menu li button{
    background: transparent;
    border: none;
    color: white;
    text-decoration: underline;
    font-size: 14px;
    font-weight: bold;
}
.Menu li button:hover{
   color: blue;
}