
.Mail{
    font-style: italic;
    color: crimson;
}
.Contacts{
    margin: 20px auto;
    max-width: 950px;
    text-align: left;
}
.ContactsTitle{
    margin-top: 45px;
}
.Submit{
    background: mediumspringgreen;
    padding: 15px;
    border-radius: 5px;
    border: transparent;
    margin: 40px 0;
}