.AboutImg{
    float: left;
    width: 450px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.About{
    margin: 20px auto;
    max-width: 950px;
    text-align: left;
    line-height: 1.8;
}
.AboutImg2{
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}