.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid mediumspringgreen;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.ModalInput {
    display: block;
    margin: 10px;
    padding: 10px;
    width: 80%;
    word-break: break-all;
    border: 1px solid mediumspringgreen;
}

.ModalButton {
    padding: 10px;
    border: 1px solid mediumspringgreen;
    border-radius: 5px;
    background: mediumspringgreen;
    margin: 15px;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}
